---


- block:
    - name: CREATE the KVM machines on Proxmox.
      proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_password }}"
        api_host: "{{ item.value.proxmox_node_ip }}"
        node: "{{ item.value.proxmox_node }}"
        name: "{{ item.value.vm_name }}"
        autostart: yes
        onboot: yes
        boot: 'ncda'
        net: '{"net0":"virtio={{ item.value.mac_address }},bridge=vmbr0,tag=99"}'
        virtio: '{"virtio0":"local:{{ item.value.disk_size }},format=qcow2"}'
        memory: "{{ item.value.memory | default('2048') }}"
        sockets: "{{ item.value.sockets | default('1') }}"
        cores: "{{ item.value.cores | default('1') }}"
      with_dict: "{{ proxmox_vm_dict }}"

    - name: Create the hosts in Foreman.
      shell: >
        hammer
        --username "{{ foreman_username }}"
        --password "{{ foreman_password }}"
        --verify-ssl "false"
        --server "{{ foreman_server }}"
        host create
        --architecture "x86_64"
        --build "true"
        --comment "Server for CMaker"
        --domain "cmaker.studio"
        --enabled "true"
        --environment "production"
        --hostgroup "{{ item.value.hostgroup | default('Cmaker - Servers') }}"
        --ip "{{ item.value.vm_ip_address }}"
        --name "{{ item.value.vm_name }}"
        --interface "primary=true,mac={{ item.value.mac_address }},ip={{ item.value.vm_ip_address }},name=ens18,managed=true,provision=true,domain=cmaker.studio"
        --operatingsystem "{{ item.value.os | default('Debian 9.7')   }}"
        --partition-table "{{ item.value.partition | default('CMaker - ubuntu_debian') }}"
        --root-password "{{ proxmox_password }}"
        --subnet "Provisionning-2"
      delegate_to: 127.0.0.1
      ignore_errors: yes
      with_dict: "{{ proxmox_vm_dict }}"

    - name: START the KVM machines on Proxmox.
      proxmox_kvm:
        api_user: root@pam
        api_password: "{{ proxmox_password }}"
        api_host: "{{ item.value.proxmox_node_ip }}"
        node: "{{ item.value.proxmox_node }}"
        name: "{{ item.value.vm_name }}"
        state: started
      with_dict: "{{ proxmox_vm_dict }}"
  when: create_kvm | bool


##################### Create the DH-MTL-LAB ENV #####################

- name: CREATE the KVM machines on Proxmox.
  proxmox_kvm:
    api_user: "{{ proxmox_api_user }}"
    api_password: "{{ proxmox_password }}"
    api_host: "{{ item.value.proxmox_node_ip }}"
    node: "{{ item.value.proxmox_node }}"
    name: "{{ item.value.vm_name }}"
    autostart: yes
    onboot: yes
    boot: 'ncda'
    net: '{"net0":"virtio={{ item.value.mac_address }},bridge=vmbr0,tag=99","net1":"virtio,bridge=vmbr0,tag=101"}'
    virtio: '{"virtio0":"local:{{ item.value.disk_size }},format=qcow2"}'
    memory: "{{ item.value.memory | default('2048') }}"
    sockets: "{{ item.value.sockets | default('1') }}"
    cores: "{{ item.value.cores | default('1') }}"
  loop: "{{ dh_lab|dict2items }}"
  loop_control:
    pause: 3
  tags:
    - deploy_dh_lab

- name: Create the hosts in Foreman.
  shell: >
    hammer
    --username "{{ foreman_username }}"
    --password "{{ foreman_password }}"
    --verify-ssl "false"
    --server "{{ foreman_server }}"
    host create
    --architecture "x86_64"
    --build "true"
    --comment "Server for CMaker"
    --domain "cmaker.studio"
    --enabled "true"
    --environment "production"
    --hostgroup "{{ item.value.hostgroup | default('Cmaker - Servers') }}"
    --ip "{{ item.value.vm_ip_address }}"
    --name "{{ item.value.vm_name }}"
    --interface "mac={{ item.value.mac_address }},ip={{ item.value.vm_ip_address }},name=ens18,managed=true,provision=true,domain=cmaker.studio"
    --interface "primary=true,mac={{ item.value.mac_address_1 }},ip={{ item.value.vm_ip_address_1 }},name=ens19,managed=true"
    --operatingsystem "{{ item.value.os | default('Debian 9.9')   }}"
    --partition-table "{{ item.value.partition | default('CMaker - ubuntu_debian') }}"
    --root-password "{{ proxmox_password }}"
    --subnet "Provisionning-2"
  delegate_to: 127.0.0.1
  ignore_errors: yes
  loop: "{{ dh_lab|dict2items }}"
  tags:
    - deploy_dh_lab

- name: START the KVM machines on Proxmox.
  proxmox_kvm:
    api_user: root@pam
    api_password: "{{ proxmox_password }}"
    api_host: "{{ item.value.proxmox_node_ip }}"
    node: "{{ item.value.proxmox_node }}"
    name: "{{ item.value.vm_name }}"
    state: started
  loop: "{{ dh_lab|dict2items }}"
  tags:
    - deploy_dh_lab

- name: DELETE the KVM machines on Proxmox.
  proxmox_kvm:
    api_user: "{{ proxmox_api_user }}"
    api_password: "{{ proxmox_password }}"
    api_host: "{{ item.value.proxmox_node_ip }}"
    node: "{{ item.value.proxmox_node }}"
    name: "{{ item.value.vm_name }}"
    state: absent
  loop: "{{ dh_lab|dict2items }}"
  loop_control:
    pause: 3
  tags:
    - delete_dh_lab